<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>board form</title>
</head>

<body>
    <table border="1" style="width:600px">
        <caption>게시판 글쓰기</caption>
        <colgroup>
            <col width='15%'/>
            <col width='*%'/>
        </colgroup>
        <tbody>
            <tr>
                <td>작성자</td>
                <td></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><input type="text" size="20" maxlength="200"/></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><textarea size="70" maxlength="250"></textarea></td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="저장"/>
</body>

</html>