<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="login">

	<insert id="insertMember" >
		insert into SPRINGMEMBER
		values(#{id},#{pass},#{name},#{nickname})
	</insert>
	
	<select id="selectMember" resultType="String">
		select id from SPRINGMEMBER where id= #{id} and pass = #{pass}
	</select>
	
	<select id="selectMemberList" resultType="we.can.dothis.dto.MemberDTO">
		select * from SPRINGMEMBER
	</select>
	
	<select id="selectMemberInfo" resultType="we.can.dothis.dto.MemberDTO">
		select * from SPRINGMEMBER where ID = #{ID}
	</select>
	
	<delete id="deleteMember">
		delete from SPRINGMEMBER where ID = #{ID}
	</delete>
	
</mapper>

