<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.testalarm">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/alarm_mainicon"
        android:label="일어나람"
        android:roundIcon="@drawable/alarm_mainicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".AlarmAdd" />

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.example.user.testalarm.INDEX" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AlarmService"
            android:process=":remote" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ShakeDialogActivity" />

    </application>

</manifest>