<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MVCBoard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>NikeFunctionController</servlet-name>
    <servlet-class>
		Nike.Controller.NikeFunctionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NikeFunctionController</servlet-name>
    <url-pattern>*.nf</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>NikeAdminPathController</servlet-name>
    <servlet-class>
		Nike.Admin.Controller.NikeAdminPathController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NikeAdminPathController</servlet-name>
    <url-pattern>*.ap</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NikeLoginController</servlet-name>
    <servlet-class>
		Nike.Controller.NikeLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NikeLoginController</servlet-name>
    <url-pattern>*.ni</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NikeAdminController</servlet-name>
    <servlet-class>
		Nike.Admin.Controller.NikeAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NikeAdminController</servlet-name>
    <url-pattern>*.ad</url-pattern>
  </servlet-mapping>
  
  
  <resource-ref>
    <description>Connection</description>
    <res-ref-name>jdbc/Oracle11g</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>mappedfile</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  
</web-app>